i.icon-blue {
    color: #00838f;
}

.nav-mobile li > a {
    background-color: #d50000;
}

.nav-mobile li > a:hover {
    background-color: #ef9a9a;
}

.card .card-action > a {
    color: #d50000 !important;
}

.card .card-action > a:hover {
    color: #ef9a9a !important;
}

a.graphic-link, a.graphic-download {
    color: #00838f;
}

a.graphic-link:hover, a.graphic-download:hover {
    color: #26c6da;
}

.select-dropdown.dropdown-trigger {
    color: #00838f;
}

.card-title {
    font-weight: 400;
}

/* Allow Scrollbar, limit height   */
.select-dropdown {
    max-height: 50vh;
    overflow-y: auto !important;
}

.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
}

.select-wrapper input.select-dropdown:hover {
    background-color: #fafafa;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #0097a7;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 10px;
}

.img-icon {
    height: 1em;
}

nav {
    border-bottom: 3px solid #d50000;
}